<html theme="main" lang="ru">
    <head>
        <!--meta info-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <!--links-->
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/catalog.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">
        <title>Каталог</title>
    </head>
<body>
    <header>
        <div class="container">
            <div id="header-content" class="flex-row" style="clear:both;">
                <div id="nav-left-side" class="flex-row">
                    <a id="logo-mini" href="/"></a>
                    <a id="logo" href="/"></a>
                </div>
                <div id="nav-right-side" class="flex-row">
                    <div id="nav-links" class="flex-row">
                        <a class="nav-link-active" href="/catalog">Каталог</a>
                        <a class="nav-link" href="/history">История</a>
                        <a class="nav-link" href="/contacts">Контакты</a>
                    </div>
                    <div id="searchbox" class="flex-row" expanded="y">
                        <input id="search-input" placeholder="Поиск ..." onchange="search(this.value)">
                        <a id="lupa-icon" onclick="showSearchInput()"></a>
                    </div>
                    <div id="nav-icons-links" class="flex-row">
                        <a id="cart-icon" href="/cart"></a>
                        <a id="account-icon" onclick="accountEventHandler();"></a>
                    </div>
                    <a id="nav-mob-icon" class="centered-v" onclick="showMobileMenu(this)">
                        <span class="centered-v"></span>
                    </a>
                    <div id="nav-mob-links" class="flex-column" style="display: none;">
                        <a class="nav-link" onclick="accountEventHandler();">Личный кабинет</a>
                        <a class="nav-link" href="/cart">Корзина</a>
                        <a class="nav-link" href="/catalog">Каталог</a>
                        <a class="nav-link" href="/history">История</a>
                        <a class="nav-link" href="/contacts">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div id="body-content">
            <div class="container">
                <div id="sides">
                    <div id="left-side" class="flex-column">
                        <div id="head-catalog" class="flex-row">
                            <h1 class="centered-v">ЮВЕЛИРНЫЕ ИЗДЕЛИЯ</h1>
                            <a id="filter-mob-icon" onclick="showMobileFilters(this) "></a>
                        </div>
                        <div id="full-filters" class="flex-column">
                            <div id="filters" class="flex-column">
                                <div id="price-box" class="filter-inner flex-column">
                                    <a class="title-n-arrow flex-row" onclick="showFilterContent(this)">
                                        <h2>Цена</h2>
                                        <button class="arrow-btn-d filter-button centered-v"></button>
                                    </a>    
                                    <div class="div-line"></div>
                                    <div class="filter-content flex-column" style="display: none;">
                                        <div id="price-slider">
                                            <span id="slider-background" class="centered-v"></span>
                                            <span id="slider-foreground" class="centered-v"></span>
                                            <input type="range" id="max-price-s" min="0" max="3000" value="3000" step="100" oninput="priceRangeInput(this); activateShowProductsBtn()" onchange="priceRangeInput(this)">
                                            <input type="range" id="min-price-s" min="0" max="3000" value="0" step="100" onchange="priceRangeInput(this); activateShowProductsBtn()" oninput="priceRangeInput(this)">
                                        </div>
                                        <div id="price-inputs" class="flex-row">
                                            <input id="min-price-i" class="price-input" onchange="priceInput(); activateShowProductsBtn()"></input>
                                            <input id="max-price-i" class="price-input"  onchange="priceInput(); activateShowProductsBtn()"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="filter-control" class="flex-row">
                                <a id="removeFiltersBtn" class="centered-v" onclick="uncheck_filters()">X Сбросить всё</a>
                                <button id="show-filters-btn" class="focus-btn">Показать</button>
                            </div>
                        </div>
                    </div>
                    <div id="right-side" class="flex-column">
                        <div id="products-text-headers" class="flex-row">
                            <h2 id="products-count">Результат: </h2>
                            <a id="sort-drop-menu" class="flex-column" style="display:none;">
                                <div class="title-n-arrow flex-row">
                                    <h2>Сортировка</h2>
                                    <button class="arrow-btn-d filter-button centered-v" onclick="showFilterContent(this)"></button>
                                </div>
                                <div id="drop-menu-inner" class="flex-column" style="display:none"></div>
                            </a>
                        </div>
                        <div id="products-grid">
                            <a class="product-card flex-column" onmouseover="this.children[1].style=''" onmouseout="this.children[1].style='display:none;'"><div class="card-visible-part flex-column"><img class="product-image centered" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><div class="product-info flex-column"><span class="product-big-text"></span><span class="product-big-text">0₽</span></div></div><div class="card-hover-part flex-column" style="display: none;"><button class="focus-btn cart-btn">В корзину</button><div class="product-add-info flex-row"><div class="product-add-info-col flex-column"></div><div class="product-add-info-col flex-column"></div></div></div></a>
                            <a class="product-card flex-column" onmouseover="this.children[1].style=''" onmouseout="this.children[1].style='display:none;'"><div class="card-visible-part flex-column"><img class="product-image centered" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><div class="product-info flex-column"><span class="product-big-text"></span><span class="product-big-text">0₽</span></div></div><div class="card-hover-part flex-column" style="display: none;"><button class="focus-btn cart-btn">В корзину</button><div class="product-add-info flex-row"><div class="product-add-info-col flex-column"></div><div class="product-add-info-col flex-column"></div></div></div></a>
                            <a class="product-card flex-column" onmouseover="this.children[1].style=''" onmouseout="this.children[1].style='display:none;'"><div class="card-visible-part flex-column"><img class="product-image centered" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><div class="product-info flex-column"><span class="product-big-text"></span><span class="product-big-text">0₽</span></div></div><div class="card-hover-part flex-column" style="display: none;"><button class="focus-btn cart-btn">В корзину</button><div class="product-add-info flex-row"><div class="product-add-info-col flex-column"></div><div class="product-add-info-col flex-column"></div></div></div></a>
                            <a class="product-card flex-column" onmouseover="this.children[1].style=''" onmouseout="this.children[1].style='display:none;'"><div class="card-visible-part flex-column"><img class="product-image centered" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><div class="product-info flex-column"><span class="product-big-text"></span><span class="product-big-text">0₽</span></div></div><div class="card-hover-part flex-column" style="display: none;"><button class="focus-btn cart-btn">В корзину</button><div class="product-add-info flex-row"><div class="product-add-info-col flex-column"></div><div class="product-add-info-col flex-column"></div></div></div></a>
                            <a class="product-card flex-column" onmouseover="this.children[1].style=''" onmouseout="this.children[1].style='display:none;'"><div class="card-visible-part flex-column"><img class="product-image centered" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><div class="product-info flex-column"><span class="product-big-text"></span><span class="product-big-text">0₽</span></div></div><div class="card-hover-part flex-column" style="display: none;"><button class="focus-btn cart-btn">В корзину</button><div class="product-add-info flex-row"><div class="product-add-info-col flex-column"></div><div class="product-add-info-col flex-column"></div></div></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="/static/js/base.js"></script>
            <script type="text/javascript" src="/static/js/cart_logic.js"></script>
            <script type="text/javascript" src="/static/js/catalog.js"></script>
        </div>
        <div id="login-window" style="display: none;" class="popup-modal-window" onclick="hideLoginWindow(event, this)">
            <div id="mail-enter" class="popup-content flex-column centered centered-v">
                <div class="popup-headers flex-column">
                    <span class="popup-header-text">Войти</span>
                    <span class="popup-subheader-text">Вход в личный кабинет</span>
                </div>
                <div class="flex-column">
                    <label class="mail-label" for="mail-input">Электронная почта</label>
                    <input type="email" id="mail-input" placeholder="example@mail.ru" size="30" minlength="3" maxlength="64" required></input>
                </div>
                <span style="display:none ;" class="popup-error"></span>
                <button class="focus-btn" onclick="changeToCodeEnter();">Продолжить</button>
                <span class="popup-footer-text">Продолжая, вы принимаете наши <a href="#">Условия использования</a> и <a href="#">Заявление о конфиденциальности</a></span>
            </div>
            <div id="code-enter" style="display:none;" class="popup-content flex-column centered">
                <div class="popup-headers flex-column">
                    <span class="popup-header-text">Введите код</span>
                    <span class="popup-subheader-text">Мы отправили вам код для подтверждения вашей электронной почты</span>
                </div>
                <div class="flex-column">
                    <label class="mail-label" for="mail-input"></label>
                    <div id="code-inputs" class="flex-row centered">
                        <input maxlength="1" onchange="activatCodeInput(this)" onkeyup="autotab(this, this.nextElementSibling)" onpaste="autopaste(event, this)" required></input>
                        <input maxlength="1" onchange="activatCodeInput(this)" onkeyup="autotab(this, this.nextElementSibling)" onpaste="autopaste(event, this)" required></input>
                        <input maxlength="1" onchange="activatCodeInput(this)" onkeyup="autotab(this, this.nextElementSibling)" onpaste="autopaste(event, this)" required></input>
                        <input maxlength="1" onchange="activatCodeInput(this)" onkeyup="autotab(this, this.nextElementSibling)" onpaste="autopaste(event, this)" required></input>
                        <input maxlength="1" onchange="activatCodeInput(this)" onkeyup="autotab(this, this.nextElementSibling)" onpaste="autopaste(event, this)" required></input>
                        <input maxlength="1" onchange="activatCodeInput(this)" required></input>
                    </div>
                </div>
                <span style="display:none ;" class="popup-error"></span>
                <button class="focus-btn" onclick="try_enter();">Войти</button>
                <a class="popup-footer-text" href="#">Запросить код повторно</a>
            </div>
        </div>
        <div id="event-pool" class="flex-column">
        </div>
        <footer>
            <div class="container">
                <div id="footer-content" class="flex-row">
                    <div class="flex-column">
                        <a id="logo-white" href="#"></a>
                        <p class="footer-text ">Ювелирная мастерская “Arts &amp; Crafts“</p>
                    </div>
                    <div class="footer-block flex-column">
                        <p class="footer-header-text">Контакты</p>
                        <div class="footer-links-block flex-column">
                            <div class="footer-link flex-row">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.2503 8.4922C3.6458 13.7801 7.90831 17.9843 13.2077 20.2634L14.0572 20.647C16.0007 21.5246 18.2854 20.8579 19.4709 19.0671L20.581 17.3901C20.9419 16.8449 20.832 16.1105 20.3278 15.6983L16.563 12.62C16.01 12.1678 15.1969 12.2732 14.7738 12.8517L13.6092 14.4445C10.6207 12.9504 8.19435 10.4913 6.72018 7.46241L8.29174 6.28202C8.86257 5.85327 8.96647 5.02914 8.52036 4.46869L5.48303 0.652884C5.07634 0.14197 4.35196 0.0305251 3.81401 0.39611L2.14796 1.52833C0.370025 2.73657 -0.284201 5.07126 0.601714 7.04628L1.24932 8.49005L1.2503 8.4922Z" fill="white"/>
                                    </svg>
                                <span class="footer-text">+ 7 (999) 999 - 99 - 99</span>
                            </div>
                            <div class="footer-link flex-row">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.56694 0.339965C9.48524 -0.00524848 13.4257 -0.00524874 17.344 0.339964L19.2318 0.506284C20.4885 0.617004 21.5648 1.37672 22.1225 2.46343C22.1939 2.60245 22.1404 2.77078 22.0089 2.85326L14.1765 7.76744C12.4967 8.82139 10.3785 8.8435 8.67761 7.82484L0.792823 3.10269C0.665436 3.0264 0.606963 2.86936 0.664373 2.73114C1.17457 1.5028 2.32161 0.625887 3.67915 0.506284L5.56694 0.339965Z" fill="white"/>
                                    <path d="M0.657957 5.22924C0.463002 5.11248 0.214248 5.23813 0.191523 5.46647C-0.125646 8.65351 -0.0488825 11.8707 0.421814 15.0432C0.669957 16.7156 2.01672 17.9977 3.67915 18.1442L5.56694 18.3105C9.48524 18.6557 13.4257 18.6557 17.344 18.3105L19.2318 18.1442C20.8942 17.9977 22.241 16.7156 22.4891 15.0432C22.9735 11.7783 23.0407 8.46597 22.6907 5.18793C22.6661 4.95797 22.4132 4.83464 22.2191 4.95639L15.1634 9.38323C12.8907 10.8092 10.025 10.8391 7.72374 9.4609L0.657957 5.22924Z" fill="white"/>
                                    </svg>
                                <span class="footer-text">artsandcrafts@gmail.com</span>
                            </div>
                            <div class="footer-link flex-row">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.375 11C0.375 5.13197 5.13197 0.375 11 0.375C16.868 0.375 21.625 5.13197 21.625 11C21.625 16.868 16.868 21.625 11 21.625C5.13197 21.625 0.375 16.868 0.375 11ZM11.9375 4.75C11.9375 4.23223 11.5178 3.8125 11 3.8125C10.4822 3.8125 10.0625 4.23223 10.0625 4.75V11C10.0625 11.3232 10.229 11.6237 10.5031 11.795L14.2531 14.1387C14.6922 14.4132 15.2706 14.2797 15.545 13.8406C15.8194 13.4016 15.6859 12.8232 15.2469 12.5488L11.9375 10.4804V4.75Z" fill="white"/>
                                    </svg>
                                    
                                <span class="footer-text">Пн-Пт 10:00 - 20:00 Сб 11:00 - 19:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block flex-column">
                        <p class="footer-header-text">Политика</p>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>