<!DOCTYPE html>
<html lang="ru" theme="main">
<head>
    <!--meta info-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <!--links-->
    <link rel="stylesheet" href="/static/css/base.css"/>
    <title>Главная страница</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logos">
                    <a class="logo-mini" href="#"></a>
                    <a class="logo" href="#"></a>
                </div>
                <div class="nav-links">
                    <a class="nav-link" href="#">Каталог</a>
                    <a class="nav-link" href="#">История</a>
                    <a class="nav-link" href="#">Контакты</a>
                </div>
                <div class="searchbox">
                    <input class="search-input" placeholder="Поиск..."></input>
                    <a class="lupa-icon"></a>
                </div>
                <div class="logos">
                    <a class="cart-icon"></a>
                    <a class="account-icon"></a>
                </div>
                <a href="" class="menu">&#9776;</a>
            </div>
        </div>
    </header>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="socials-block">
                    <a class="logo-white" href="#"></a>
                    <p class="footer-text ">Ювелирная мастерская “Arts & Crafts“</p>
                </div>
                <div class="politics-block">
                    <p class="footer-header-text">Политика</p>
                </div>
                <div class="contacts-block">
                    <p class="footer-header-text">Контакты</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>