<html theme="main" lang="ru">
    <head>
        <!--meta info-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <!--links-->
        <link rel="stylesheet" href="/static/css/base.css">
        <title>Доступ воспрещен!</title>
</head>
<body>
    <div class="container flex-column centered-v" style = "width: 500px; text-align: center; padding: 2%; top: 25%">
        <div class="number-error flex-column" style = "row-gap: -30px;">
            <h1 style = "color: var(--body-focus); font-size: 96px; margin: 26 0">403</h1>
            <div>
                <h2>Доступ запрещён</h2>
                <h4 style="font-weight: 500;">Страница, на которую вы пытались перейти, по какой-то причине недоступна</h4>
            </div>
        </div>
        <a href="/">Вернуться на главную</a>
    </div>
</body>