<html theme="main" lang="ru">
    <head>
        <!--meta info-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <!--links-->
        <link rel="stylesheet" href="/static/css/base.css">
        <title>Страница не найдена</title>
</head>
<body>
    <div class="container flex-column centered-v" style = "width: 500px; text-align: center; top: 25%">
        <div class="number-error flex-column" style = "row-gap: -30px;">
            <h1 style = "color: var(--popup-code-input); font-size: 96px; margin: 26 0">404</h1>
            <div>
                <h1>Страница не найдена</h1>
                <h3 style="font-weight: 500;">Страница, которую вы ищите, могла быть удалена. Ссылка изменена или временно недоступна</h3>
            </div>
        </div>
        <a href="/">Вернуться на главную</a>
    </div>
</body>