
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}


/*Color const*/
html[theme="main"]{
    --body-bg:#F6F6F6;
    --body-fg: #ff0000;
    --body-border:#707070;
    --body-not-focus-text:#707070;
    --body-focus:#d7702f;
    --body-done:#1EB805;
    --body-processing:#c7bd00;
    --body-banner-bg:#2A2F3B;
    --body-h:#000000;
    --body-text:#FFFFFF;
    --body-focus-btn-text:#F6F2F2;
    --popup-window-background:rgba(0,0,0,0.4);
    --popup-window-foreground:#FFFFFF;
    --popup-header:#000000;
    --popup-subheader:#707070;
    --popup-error:#ff0000;
    --popup-code-input:#464A9F;
    --arrow-color:rgba(0, 0, 0, 0);
    --body-no-image:#C2C1C1;
    --focus-link:#FFFFFF;
    --empty-color:#C2C1C1;
    --footer-text:#FFFFFF;
    --nav-link:#707070;
    --cart-product-card:#F8F8F8;
    --nav-link-active:#000000;
}

.empty{
    background-color: var(--empty-color);
}
#body-content{
    padding-bottom: 130px;
}

.arrow-btn-u, .arrow-btn-d, .arrow-btn-l, .arrow-btn-r{
    cursor: pointer;
    border: none;
    background-image: url("../svg/arrow_btn.svg");
    background-color: var(--arrow-color);
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-btn-d, .arrow-btn-d::before{
    transform:rotate(180deg);
}
.arrow-btn-d::before, .arrow-btn-l::before,  .arrow-btn-r::before{
    content: "";
    position: absolute;
    z-index: -1;
}
.arrow-btn-l, .arrow-btn-l::before{
    transform: rotate(270deg);
}
.arrow-btn-r, .arrow-btn-r::before{
    transform: rotate(90deg);
}

.focus-btn{
    color:var(--body-focus-btn-text);
    text-align: center;
    align-items: center;
    border: 1px solid var(--body-focus);
    border-radius: 5px;
    font-family: 'Montserrat';
    padding: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--body-focus);
}


.hide{
    display: none;
}

.orange{
    color:var(--body-focus);
}

.green{
    color:var(--body-done);
}

.yellow{
    color:var(--body-processing);
}

.centered{
    margin-left: auto;
    margin-right: auto;
}
.centered-v{
    margin-top: auto;
    margin-bottom: auto;
}

.content-center{
    justify-content: center;
}

.focus-banner{
    width: 100%;
    background-color: var(--body-banner-bg);
}
#focus-banner-inner{
    display: flex;
    padding: 43px 0px;
    padding-right: 100px;
    padding-left: 100px;
    column-gap: 43px;
}

#focus-banner-link{
    width: fit-content;
    color: var(--focus-link);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;
}


body{
    margin: 0;
    font-family: 'Montserrat';
    background: var(--body-bg);
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header{
    width: 100%;
    background: var(--body-bg);
    margin:0;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    z-index: 1;
}


#body-content{
    width: 100%;
    overflow: hidden;
    margin:0;
    position: relative;
    z-index: 0;
}

#header-content, #footer-content{
    max-width: 1920px;
    flex-wrap: wrap;
    
}

#nav-left-side, #nav-right-side{
    align-items: center; 
    justify-content: center;
}
#nav-right-side{
    column-gap: 90px;
}
#header-content{
    column-gap: 350px;
    padding:10px;
}
#footer-content{
    padding: 50px 55px;
    column-gap: 350px;
}

#nav-links{
    width: fit-content;
    height: fit-content;
    column-gap: 85px;
    justify-content: center;
}



.nav-link, .nav-link-active{
    width: fit-content;
    height: fit-content;
    color:var(--nav-link);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.nav-link-active, .nav-link:hover{
    color:var(--nav-link-active);
}

#nav-icons-links{
    column-gap: 90px;
    position: relative;
}

#logo{
    background: url("../svg/LOGO5.svg") center center no-repeat;
    padding: 0 1px;
    width: 238px;
    height: 40px;
}

#logo-white{
    background: url("../svg/LOGO5W.svg") center center no-repeat;
    display: flex;
    max-width: 238px;
    height: 40px;
}

#logo-mini{
    background: url("../svg/LOGO-mini.svg") center center no-repeat;
    padding: 0 1px;
    width: 40px;
    height: 40px;
}

#account-icon, #cart-icon{
    background-image: url("../svg/user_nav_logo.svg");
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

#cart-icon{
    background-image: url("../svg/cart_nav_logo.svg");
}

#searchbox{
    background-color: var(--body-bg);
    width: fit-content;
    height: auto;
    border: 2px var(--nav-link) solid;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#search-input{
    font-size: 16px;
    padding: 5px 25px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: 0;
    outline: none;
    box-shadow: none;
    color:var(--nav-link-active);
    background: none;
    transition: all 0.3s ease-in-out;
}
#search-input::placeholder{
    opacity: 1;
    color: var(--nav-link);
}

#lupa-icon{
    width: 25px;
    height: 25px;
    margin:7px 16px;
    background-image: url("../svg/search.svg");
}

#nav-mob-links{
    display: none;
    width: fit-content;
    padding: 10px;
    border: 1px solid var(--body-border);
    border-radius: 10px;
    inset: 60px -10px auto auto;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background: var(--body-bg);
    z-index:1;
}

#nav-mob-icon{
    width: fit-content;
    transition: all 0.3s ease-in-out;
    height: 100%;
    cursor: pointer;
    display: none;
}

#nav-mob-icon span, #nav-mob-icon span::after, #nav-mob-icon span::before{
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--body-h);
    position: relative;
    transition: all 0.3s ease-in-out;
}

#nav-mob-icon span::after, #nav-mob-icon span::before{
    position: absolute;
    content: '';
}

#nav-mob-icon span::after{
    top: 5px;
}
#nav-mob-icon span::before{
    bottom: 5px;
}

#nav-mob-icon.is-clicked span::after, #nav-mob-icon.is-clicked span::before{
    position: absolute;
    content: '';
}

#nav-mob-icon.is-clicked  span{
    background-color: transparent;
}
#nav-mob-icon.is-clicked span::after{
    top: 0px;
    transform: rotate(45deg);
}
#nav-mob-icon.is-clicked  span::before{
    bottom: 0px;
    transform: rotate(-45deg);
}

.footer-text{
    color:var(--footer-text);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}

.footer-header-text{
    color:var(--footer-text);
    font-family: 'Montserrat';
    margin:0;
    font-size: 20px;
    font-weight: 700;
}


footer{
    width: 100%;
    height: 20%;
    background-color: #000000;
    display: flex;
}

.container {
    display: flex;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.footer-block{
    row-gap: 25px;
}

.footer-links-block{
    row-gap: 10px;
}

.footer-link{
    column-gap: 15px;
}

.popup-modal-window{
    padding-top: 200px;
    position: fixed;
    z-index: 999; 
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: var(--popup-window-background);
    transition: all 0.3s ease-in-out;
}

.popup-content{
    width: 340px;
    height: fit-content;
    padding: 30px;
    row-gap: 30px;
    border-radius: 10px;
    background-color: var(--popup-window-foreground);
}

.popup-headers{
    row-gap: 10px;
}

.popup-header-text{
    color:var(--popup-header);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
}

.popup-subheader-text, .mail-label{
    color:var(--popup-header);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.mail-label{
    color:var(--popup-subheader);
}

#code-inputs{
    width: fit-content;
    column-gap: 10px;
}

#code-inputs>input{
    width: 45px;
    height: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    outline: none;
    text-align: center;
    color:var(--popup-header);
    align-items: center;
    border: 1px solid var(--body-border);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#code-inputs>input.active{
    border-color: var(--popup-code-input);
    color: var(--popup-code-input);
}
#code-inputs>input.error{
    border-color: var(--popup-error);
    color: var(--popup-error);
}

input[type="email"]{
    height: 50px;
    border: 1px solid var(--body-border);
    border-radius: 7px;
    font-style: normal;
    font-weight: 500;
    padding:0 10px;
    font-size: 16px;
    color:var(--popup-header);
    outline: none;
}

input[type="email"]::placeholder{
    opacity: 1;
    color:var(--popup-subheader);
}

.popup-error{
    color:var(--popup-error);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.popup-content > .focus-btn{
    height: 50px;
}

.popup-footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color:var(--popup-subheader);
    text-align: center;
    
}

.popup-footer-text>a{
    text-decoration: underline var(--popup-subheader);
}

.popup-footer-text>a:link, .popup-footer-text>a:visited{
    color:var(--popup-subheader);
}

#event-pool{
    overflow: hidden;
    top: 10%;
    left: 50%;
    position: fixed;
    row-gap: 20px;
    z-index: 1; 
    transform: translate(-50%, 0%);
}

.visible-event{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.visible-event-text{
    font-size: 16px;
    font-weight: 500;
    color:var(--popup-window-foreground)
}

.successful{
    background-color: var(--body-done);
}

.unsuccessful{
    background-color: var(--popup-error);
}


.close-button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 15px;
    padding: 0;
    height: 15px;
    background: none;
    border: none;
    background-image: url('../svg/xmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.close-button:hover{
    background-image: url('../svg/whitexmark.svg');
}

@media screen and (min-width: 768px){
    #nav-mob-icon{
        display: none;
    }
    #nav-mob-links{
        display: none;
    }
}
@media  screen and (max-width:1940px) {
    footer{
        height: fit-content;
    }
}
@media screen and (max-width: 1700px){
    #nav-links{
        column-gap: 60px;
    }
    .popup-modal-window{
        padding-top: 100px;
    }
    #header-content{
        column-gap: 135px;
    }
    #nav-right-side{
        column-gap: 45px;
    }
    #footer-content{
        column-gap: 300px;
        row-gap: 50px;
    }
}
@media screen and (max-width: 1380px){
    #search-input{
        display: none;
    }
    #lupa-icon{
        cursor: pointer;
    }
    .popup-modal-window{
        padding-top: 50px;
    }
    .popup-content{
        row-gap: 15px;
    }
    #focus-banner-inner{
        padding-right: 100px;
    }
    #nav-links{
        column-gap: 10px;
    }
    #header-content{
        column-gap: 20px;
    }
    #nav-icons-links, #nav-right-side{
        column-gap: 20px;
    }
    #footer-content{
        column-gap: 85px;
    }

}
@media screen and (max-width:768px) {
    #header-content{
        column-gap: 50vw;
    }

    #logo{
        display: none;
    }
    #nav-links, #nav-icons-links{
        display: none;
    }
    #nav-mob-icon, #nav-mob-links{
        display: flex;
    }
}
@media screen and (max-width:375px) {
    #header-content{
        column-gap: 30vw;
    }
}