/*Color const*/
html[theme="main"]{
    --body-bg:#ECECEC;
    --body-fg: #ff0000;
}

body{
    margin: 0;
    background: var(--body-bg);
    color: var(--body-fg);
}

.navbar{
    background: var(--body-bg);
    overflow: hidden;
    margin: 0;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    padding: 10px 80px;
    z-index: 0;
}

.logo{
    background: url("../svg/LOGO5.svg") center center no-repeat;
    width: 238px;
    height: 40px;
}

.logo-mini{
    background: url("../svg/LOGO-mini.svg") center center no-repeat;
    width: 40px;
    height: 40px;
}

.logo, .logo-mini{
    float:left;
    margin:0px 18px;
    display: block;
}

@media screen and (min-width: 768px){
    .container {
        position: relative;
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 4.16667%;
    }
}