.space-between{
    justify-content: space-between;
}

#body-content{
    background-color: #EDEDED;
    padding: 50px 0;
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: var(--body-h);
}

#waiter{
    content: '';
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--body-text);
    display: grid;
    z-index: 999;
    position: fixed;
    align-content: center;
}
#waiter span{
    justify-content: center;
    align-items: center;
    display: flex;
}

#sides{
    column-gap: 40px;
}

#left-side{
    row-gap: 30px;
}
#right-side{
    padding: 20px;
    width: 360px;
    height: fit-content;
    background-color: var(--cart-product-card);
    border-radius: 10px;
    row-gap: 20px;
}
.add-info{
    font-weight: 500;
    font-size: 16px;
    color:var(--body-h);
}

#products{
    row-gap: 25px;
}
.product-card{
    width: calc(1150px - 60px);
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--cart-product-card);
    border-radius: 10px;
}

.product-linkable{
    width: 400px;
    text-decoration: none;
    cursor: pointer;
    column-gap: 15px;
    align-items: center;
}

.prodcut-image{
    width: 100px;
    height: 100px;
    color: var(--body-no-image);
    background-color: var(--body-no-image);
    border-radius: 10px;
}

.product-titleId{
    max-width: 250px;
    row-gap: 5px;
}

.product-title{
    font-weight: 600;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:var(--body-h);
}
.product-title:link, .product-title:visited, .product-title:hover{
    color:var(--body-h);
}

.product-id{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color:var(--nav-link);
}

.product-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.count-controls{
    column-gap: 10px;
    align-items: center;
}

.counter, .product-control, .product-delete{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 35px;
    padding: 0;
    height: 35px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
}
.product-control, .product-delete{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}
.product-delete{
    background-image: url('../svg/xmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#confirm-order{
    height: 50px;
}

#return-link{
    align-items: center;
    text-align: center;
    color:var(--body-h);
    font-weight: 700;
    font-size: 16px;
}
.product-size{
    min-width: 25px;
    font-weight: 600;
    font-size: 24px;
    width: 25px;
}

.add-files-btn{
    max-width: 165px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #434040;
    font-weight: 700;
    font-size: 16px;
    color:var(--body-text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#add-files-window{
    padding-top: 20px;
}
#add-files-inner{
    width: 800px;
}
#own-order{
    row-gap: 30px;
}
#commentary-container, #files-container{
    row-gap: 15px;
}
#commentary{
    outline: none;
    border: 2px solid var(--body-border);
    height:216px;
    font-weight: 500;
    font-size: 16px;
    resize: none;
}
#files{
    max-width: fit-content;
}
#files-controls{
    column-gap: 10px;
    justify-content: end;
}

#cancel{
    background-color: var(--body-border);
    border-color: transparent;
}

#drop-files{
    border: 1px dotted var(--body-border);
    height: 120px;
}

#own-inner{
    align-items: center;
}

#filenames{
    flex-wrap: wrap;
    max-width: 60%;
    margin-left: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

#cancel, #save{
    width: 160px;
    height: 40px;
}
#files-inner-container{
    height: inherit;
    overflow-y: scroll;
}

.popup-personal-data{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
    outline: none;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 1700px){
    .product-card{
        width: 700px;
    }
}

@media screen and (max-width: 1380px){
    .product-linkable{
        width: 300px;
    }
    .product-titleId{
        max-width: 150px;
    }
}
@media screen and (max-width: 1210px){
    #sides{
        padding: 10px;
        flex-direction: column;
        row-gap: 30px;
    }
    #right-side{
        width: calc(100% - 40px);
        align-self: center;
    }
}

@media screen and (max-width: 768px){
    .product-card, .product-linkable{
        flex-direction: column;
        width: fit-content;
        row-gap: 10px;
    }
    .product-card{
        min-width: 200px;
    }
    span.product-size:empty{
        display: none;
    }
    .product-titleId, #products, #owns{
        align-items: center;
    }
    .product-price, .product-title, .counter, .product-size{ 
        font-size: 14px;
    }
    .product-size{
        width: fit-content;
        min-width: fit-content;
    }
    .product-control, .product-delete, .counter{
        width: 15px;
        height: 15px;
    }
    #files-container{
        max-width: 100%;
        
    }
    #add-files-inner{
        width: 280px;
    }
    #own-inner{
        flex-direction: column;
        max-width: 200px;
        align-items: center;
        justify-content: center;
    }
    #filenames{
        margin: 0;
        flex-direction: column;
        row-gap: 10px;
    }
    #own-inner{
        row-gap: 10px;
    }
    span.subheader-text{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #total-sum{
        flex-direction: column;
    }
    h1{
        font-size: 18px;
    }
}