.space-between{
    justify-content: space-between;
}

#body-content{
    background-color: #EDEDED;
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: var(--body-h);
}

#sides{
    column-gap: 40px;
}

#left-side{
    row-gap: 60px;
}
#right-side{
    padding: 20px;
    width: 360px;
    height: fit-content;
    background-color: var(--cart-product-card);
    border-radius: 10px;
    row-gap: 20px;
}
.add-info{
    font-weight: 500;
    font-size: 16px;
    color:var(--body-h);
}

#products{
    row-gap: 25px;
}
.product-card{
    width: calc(1150px - 60px);
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--cart-product-card);
    border-radius: 10px;
}

.product-linkable{
    width: 400px;
    text-decoration: none;
    cursor: pointer;
    column-gap: 15px;
    align-items: center;
}

.prodcut-image{
    width: 100px;
    height: 100px;
    color: var(--body-no-image);
    background-color: var(--body-no-image);
    border-radius: 10px;
}

.product-titleId{
    row-gap: 5px;
}

.product-title{
    font-weight: 600;
    font-size: 18px;
    color:var(--body-h);
}
.product-title:link, .product-title:visited, .product-title:hover{
    color:var(--body-h);
}

.product-id{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color:var(--nav-link);
}

.product-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.count-controls{
    column-gap: 10px;
    align-items: center;
}

.counter, .product-control, .product-delete{
    display: flex;
    justify-content: center;
    width: 35px;
    padding: 0;
    height: 35px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
}
.product-control, .product-delete{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}
.product-delete{
    background-image: url('../svg/xmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#confirm-order{
    height: 50px;
}

#return-link{
    align-items: center;
    text-align: center;
    color:var(--body-h);
    font-weight: 700;
    font-size: 16px;
}
.product-size{
    font-weight: 600;
    font-size: 24px;
    width: 25px;
}

.add-files-btn{
    max-width: 165px;
    width: fit-content;
    padding: 10px;
    background-color: #434040;
    font-weight: 700;
    font-size: 16px;
    color:var(--body-text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#add-files-window{
    padding-top: 20px;
}
#add-files-inner{
    width: 800px;
}
#commentary-container, #files-container{
    row-gap: 15px;
}
#commentary{
    outline: none;
    border: 2px solid var(--body-border);
    height:216px;
    font-weight: 500;
    font-size: 16px;
    resize: none;
}
#files{
    max-width: fit-content;
}
#files-controls{
    column-gap: 10px;
    justify-content: end;
}

#cancel{
    background-color: var(--body-border);
    border-color: transparent;
}

#drop-files{
    border: 1px dotted var(--body-border);
    height: 120px;
}

#filenames{
    margin-left: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

#cancel, #save{
    width: 160px;
    height: 40px;
}
#files-inner-container{
    height: inherit;
    overflow-y: scroll;
}

.popup-personal-data{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
    outline: none;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}