#sides{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 55px 0;
    column-gap: 125px;   
}

#left-side, #filters{
    display: flex;
    width: fit-content;
    height: fit-content;
    row-gap: 30px;
}
#left-side {
    flex-direction: column;
}
#right-side{
    padding-top: 60px;
    row-gap: 20px;
}

#full-filters {
    row-gap: 20px;
}
#filters{
    align-items: center;
    transition: all 0.3s linear 0s;
}
.div-line{
    width: 100%;
    height: 0px;
    border: 1px solid var(--body-border);
    transition: all 0.3s ease-out;
}
#filter-mob-icon {
    display: none;
}

.filter-inner{
    width: 360px;
    height: fit-content;
    row-gap: 10px;
}

.title-n-arrow{
    cursor:pointer;
    justify-content: space-between;
}
.filter-content{
    padding: 0 25px;
    row-gap: 15px;
    transition: all 0.6s ease-out;
}

#price-slider{
    display: grid;
}
#slider-background, #slider-foreground{
    height: 25%;
    border: none;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;
}
#slider-background{
    background-color:rgba(0, 0, 0, 0.2);
}
#slider-foreground{
    background-clip: content-box;
    background-color:var(--body-focus);
}

#price-slider input{
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
    grid-column: 1;
    grid-row: 1;
}
input[type=range]::-webkit-slider-runnable-track{
    background: none;
    outline: none;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 3px solid #EB723F;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.08);
    pointer-events: auto;
}

#price-slider input::-moz-range-track{
    background: none;
    outline: none;
}
#price-slider input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 3px solid #EB723F;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.08);
    pointer-events: auto;
}

#price-inputs {
    justify-content: space-between;
}

#price-inputs input{
    width: 140px;
    height: 30px;
    font-family: 'Montserrat';
    background: none;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 1.5px solid var(--body-border);
    border-radius: 5px;
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

#filter-control {
    column-gap: 20px;
    justify-content: space-between;
}

.filter-button{
    width: 6px;
    height: 12px;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.check-container{
    column-gap: 8px;
}
.mark-box{
    display: grid;
}

.check-container input{
    width: 25px;
    height: 25px;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}
.check-mark{
    width: 21px;
    height: 21px;
    border: 2px solid var(--body-border);
    border-radius: 2px;
    grid-column: 1;
    grid-row: 1;
}
.check-text{
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.mark-box input:checked ~ .check-mark{
    background-color: var(--body-focus);
}

.check-mark:after {
    content: "";
    opacity: 0;
    display: none;
  }
  
.mark-box input:checked ~ .check-mark:after {
    display: flex;
    margin: auto auto;
    opacity: 1;
}

.mark-box input:checked ~ .check-mark {
    border-color: var(--body-focus);
}

.mark-box .check-mark:after {
    width: 22px;
    height: 22px;
    background-image: url('../svg/check_mark.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

#catalog-icons {
    display: none;
}

#removeFiltersBtn{
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
#show-filters-btn{
    width: 160px;
    height: 45px;
}

#products-text-headers{
    justify-content: space-between;
}
#products-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 95px;
    row-gap: 40px;
}
#products-grid.fixed{
    min-width: 1085px;
}

.card-visible-part{
    text-decoration: none;
    row-gap: 10px;
}

.product-card{
    width: 200px;
    height: 265px;
    row-gap: 13px;
    background-color: var(--body-bg);
}
.product-card:hover{
    height: fit-content;
    margin: 0 -35px;
    margin-top: -15px;
    margin-bottom: -200px;
    border-top: 15px;
    border-bottom: 15px;
    border-left: 35px;
    border-right: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--body-bg);
    box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.25);
    z-index: 23;
}


.product-info{
    width: fit-content;
    height: fit-content;
}

.product-image{
    width: 200px;
    height: 200px;
    background-color: var(--body-no-image);
    border-radius: 10px;
    object-fit: cover;
}

.product-info{
    row-gap: 5px;
}

.product-big-text{
    width: fit-content;
    margin: 0 0;
    align-items: center;
    color:var(--body-h);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.card-hover-part{
    row-gap: 13px;
}

.product-add-info{
    justify-content: space-between;
}

.product-add-info-col{
    row-gap: 5px;
}

.cart-btn{
    width: 200px;
    height: 45px;
}

.product-small-text{
    font-family: 'Montserrat';
    color:var(--body-not-focus-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.fg-color{
    color:var(--body-h);
}


@media screen and (max-width: 1600px){
    #products-grid.fixed{
        min-width: 800px;
    }
    #products-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1380px){
    h1 {
        font-size: 18px;
    }
    h2, span, .product-big-text {
        font-size: 14px;
    }
    .filter-inner{
        width: 310px;
    }
    .price-input {
        max-width: 100px;
    }
    #products-grid.fixed{
        max-width: fit-content;
    }
    #products-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .product-card {
        width: 170px;
    }
    .product-image{
        height: 170px;
        width: auto;
    }
    .product-add-info {
        width: 180px;
    }
    .product-add-info-col span{
        font-size: 14px;
    }
    .cart-btn {
        width: 170px;
    }
}
    
@media screen and (max-width: 1280px){
    #products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #full-filters{
        display: flex;
    }
    #filters{
        width: 100%;
    }
}

@media screen and (max-width: 990px){
    #filter-mob-icon {
        display: flex;
    }
    #sides{
        flex-direction: column;
        align-items: center;
    }
    #products-grid{
        column-gap: 10vw;
    }
    #products-grid.fixed{
        min-width: 100%;
    }
    #products-text-headers{
        justify-content: center;
    }
    #left-side{
        width: 100%;
        align-items: center;    
    }
    .product-card:hover{
        height: fit-content;
        margin:0;
        border: none;
        box-shadow: none;
        z-index: 23;
    }
    .card-hover-part{
        display: none;
    }
    #head-catalog {
        transition: all 0.3s ease-in-out;
        column-gap: 20px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #full-filters {
        align-items: center;
        display: none;
        row-gap: 25px;
    }
    .filter-inner {
        width: 400px;
    }
    #products-grid.fixed{
        width: 100%;
    }
    #head-catalog, #full-filters{
        width: 100%;
    }
    #filter-control {
        column-gap: 100px;
    }
}

@media screen and (max-width: 768px){
    .filter-inner{
        width: 350px;
    }
    #filter-control {
        column-gap: 70px;
    }
    
}

@media screen and (max-width: 390px){
    h1 {
        font-size: 16px;
    }
    #sides{
        flex-direction: column;
        align-items: center;
    }
    #head-catalog {
        width: 300px;
        column-gap: 20px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #full-filters {
        row-gap: 25px;
    }
    .filter-inner {
        width: 300px;
    }
    #filter-control {
        column-gap: 10px;
    }
    #products-grid {
        column-gap: 45px;
        row-gap: 0;
    }
    .product-card {
        width: 130px;
    }
    .product-image{
        height: 130px;
        width: auto;
    }
    .product-add-info {
        width: 140px;
    }
    .product-add-info-col span{
        font-size: 14px;
    }
    .cart-btn {
        width: 130px;
    }
}

