#body-content{
    padding-bottom: 0;
    align-items: center;
}
#banner-index{
  width: 100%;
  background-color: var(--body-banner-bg);
}
h1{
  font-weight: 700;
}
.banner-text h1{
  margin: 0 0 15 0;
  font-size: 24px;
  color: var(--body-focus);
}
.banner-text h2{
  margin: 0 0;
  color:var(--body-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.banner-text{
  margin: 50px;
} 
.emploee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1360px;
  padding: 40px;
  margin: auto;
  row-gap: 30px;
}
.card  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 10px;
  justify-content: space-between;
  width: 630px;
  background-color: #E7E7E7E7;
  border-radius: 5px;
  padding: 15px;
}
.profile-image {
  max-width: 210px;
  max-height: 210px;
  border-radius: 5px;
}
.emploee-info {
  width: 400px;
  row-gap: 3px;
}
.emploee-info h4{
  margin: 0;
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin: auto;
}
.contact-us h1{
  font-size: 24px;
  margin: 0;
}
h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
.contact-us-card{
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px;
}
.card-info{
  display: flex;
  flex-direction: row;
  grid-gap: 15px;
  width: 300px;
  align-items: center;
}
.card-info-icon{
  max-height:100px;
  max-width: 100px;  
}

.card-info-icon img{
  height: 100px;
  width: auto;
}

.card-info h4 {
  margin: 0;
}
.info {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  justify-content: center;
}

@media screen and (max-width: 1600px){
.emploee-cards {
  width: 1300px;
  row-gap: 18px;
  padding: 20px;
  }
.card{
  max-width: 610px;
  }
.profile-image {
  max-width: 190px;
  max-height: 190px;
}
.contact-us-card{
  width: 100%;
  height: auto;
  font-weight: 300px;
  justify-content: center;
  flex-wrap: wrap;
  }     
}
@media screen and (max-width: 1380px){
  h4 {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
  .emploee-cards {
  width: 1200px;
  padding: 10px;
  margin: auto;
  }
  .card {
    width: 550px;
  }
  .emploee-info{
    width: 350px;
  }
}

@media screen and (max-width: 1280px){
  .emploee-cards {
    flex-direction: row;
    width: 480px;
    margin: 20px;
  }
  .card {
    flex-direction: column;
    justify-content: start;
    width: 190px;
    row-gap: 5px;
  }
  .emploee-info{
    width: 190px;
  }
}
  
@media screen and (max-width:768px) {
  .banner-text{
    align-content: center;
    margin-inline: 70px;
  } 
  .emploee-cards{
    width: 280px;
  }
  .card {
    flex-direction: column;
    width: 280px;
    height: auto;
    row-gap: 10px;
  }
  .profile-image {
    max-width: 280px;
    max-height: 280px;
  }
  .emploee-info{
    width: 280px;
  }
  .contact-us{
    text-align: center;
    margin-inline: 20px;
  }
  .contact-us-card{
    width: fit-content;
    flex-direction: column;
    row-gap: 15px;
  }
}

