.banner-index{
    background-image: url("../images/banner_image.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    width: 100vw;
    max-width: 100%;

}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25% 0;
}

.button-left, .button-right{
    display: flex;
    width: 20px;
    height: 35px;
    margin: auto 55px;
}

h1{
    font-family: 'Montserrat bold';
    color:var(--body-text);
    margin:9px;
    font-size: 32px;
    font-weight: 700;
}


h2{
    color:var(--body-text);
    margin:9px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.focus-banner-text{
    text-align: left; margin: 8px 0; width: 1000px;
}

h3{
    font-family: 'Montserrat bold';
    color: var(--body-h);
    font-weight:700;
    margin-top: 35px;
    margin-bottom: 35px; 
    font-size: 24px;
}

h4{
    font-family: 'Montserrat';
    margin:5px auto;
    text-align: center;
    color:var(--body-h);
    font-weight: 600;
    font-size: 20px;
}

.popular-products{
    display: flex;
    position: relative;
}

.products-row{
    padding: 0px 10px;
    justify-content: space-around;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    column-gap: 110px;
    row-gap: 35px;
}

.product-card{
    width: 170px;
    height: 230px;
}

.product-image{
    width: 100%;
    height: 74%;
    background-color: var(--body-no-image);
    border-radius: 10px;
    margin-bottom: 12px;
    object-fit: cover;
}

.link-no-dec{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;

}
.product-price{
    width: fit-content;
    margin: 0 auto;
    display: block;
    align-items: center;
    color:var(--body-h);
    font-family: 'Montserrat bold';
    font-size: 32px;
    font-weight: 700;
}
.why-us{
    display: flex;
    position: relative;
}

.why-block{
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}

.why-reason{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 110px;
}

.why-image{
    margin: 5px auto;
    width: 160px;
    height: 160px;
}

.why-text{
    margin: 5px auto;
    color:var(--body-h);
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.reviews{
    display: flex;
    position: relative;
}

.reviews-control-box{
    height: fit-content;
    display: flex;
    flex-direction: row; 
}

.reviews-block{
    display: flex;
    flex-direction: row;
    gap: 20px 20px;
    justify-content: space-between; 
}

.review-container{
    border: 3px solid var(--body-border);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 248px;
    height: 277px;
    padding: 18px;
}

.review-container[extend="y"]{
    height: fit-content;
}

.review-name{
    font-family: 'Montserrat bold';
    font-size: 20px;
}
.review-text, .review-date, .review-more{
    font-family: 'Montserrat medium';
    font-size: 18px;
}
.review-date, .review-more{  
    color:var(--nav-link);
}
.review-text{
    margin-top: 18px;
}
.review-date{
    margin-top: auto;
}

.reviews-inner{
    margin-bottom: 35px;
}