#body-content{
  padding-bottom: 100px;
  overflow-x: hidden;
}


h5, h4{
  margin: 0;
}
span {
  font-size: 14px;
}
#thereisnoexit{
  width: fit-content;
  cursor: pointer;
  margin-top: 15px;
  color: var(--body-focus-btn-text);
  background-color:var(--body-fg);
  border: none;
  padding: 10px;
  border-radius: 10px;

}

.arrow-btn-d, .arrow-btn-u{
  width: 50px;
  height: 50px;
}

.order-id{
  font-size: 16px;
  font-weight: 700;

}
.order-status{
  font-weight: 700;
}

#user-data {
  column-gap: 200px;
}
.data-type{
  font-weight: 700;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
}
.data-block {
  width: fit-content;
  row-gap: 10px;
}
#orders {
  row-gap: 1vw;
}
.order-block {
  justify-content: space-between;
  width: 860px;
  border-radius: 5px;
  background-color: #dddddd;
}
.order-main-info {
  padding: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.order-data {
  width: fit-content;
  height: fit-content;
  row-gap: 5px;
  width: 300px;
}
.order-product-title{
  width: 200px;
}
.order-product-count{
  width: 10px;
}

.order-product-price{
  width: 70px;
}

.order-total-sum{
  width: fit-content;
  height: fit-content;
  font-size: 16px;
}
.arrow-btn-l{
  width: 50px;
  height: 50px;
}
.order-product-img{
  height: 80px;
  background-color: var(--body-no-image);
  border-radius: 5px;
}

.order-add-info-prodFiles{
  row-gap: 10px;
}

.order-add-info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  flex-wrap: nowrap;
  background-color: #ebeaea;
  column-gap: 100px;
  row-gap: 30px;
}
.order-add-info-prods {
  row-gap: 15px;
}
.order-add-info-text {
  row-gap: 5px;
}

.order-file-link{
  color:var(--body-h);
}

.product-block {
  align-items: center;
  text-decoration: none;
  color:var(--body-h);
  width: 400px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1380px){
  span {
    font-size: 10px;
  }
  .order-block{
    width: 600px;
  }
  .order-add-info {
    flex-direction: column;
  }
  .product-block {
    column-gap: 5px;
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  h2 {
    font-size: 14px;
  }
  h4, p{
    font-size: 12px;
  }
  span, h6{
    font-size: 10px;
  }
  .data-type, .order-id, .order-total-sum{
    font-size: 12px;
  }
  .order-block{
    width: 300px;
  }
  .order-data {
    width: 200px;
  }
  .arrow-btn-d, .arrow-btn-u{
    width: 30px;
    height: 30px;
  }
}